<!DOCTYPE html>
<html lang="{{lang}}">
<head>

    <meta charset="utf-8"/>
    <title>{{block "title"}}</title>
    <meta name="description" value="{{block "description"}}"/>

    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="shortcut icon" href="favicon.ico" />

    <!-- Tracking Info removed from joblint original -->

</head>
<body>

    {{> header}}

    <section>
        <div class="section main-content triangle triangle-after triangle-before">
            <div class="container" role="main">
                {{{body}}}
            </div>
        </div>
    </section>

    {{> footer}}

</body>
</html>