
{{#content "title"}}SF&Flint{{/content}}
{{#content "description"}}Test your "Open for Submissions" announcements for basic oversights and for issues with sexism, culture, expectations, and related fails.{{/content}}

<p class="lead">
    Test your "Open for Submissions" announcements for basic oversights and for issues with sexism, culture, expectations, and related fails.
</p>

<form action="/result" method="post">
    <label class="sub-lead" for="spec-input">Paste your call for stories below!</label>
    <textarea name="spec" id="spec-input"></textarea>
    <input class="btn" type="submit" value="Lint your announcement"/>
</form>
